{
  "extends": [
    "airbnb"
  ],
  "rules": {
    "max-lines": [
      "error",
      {
        "max": 100,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreStrings": true,
        "ignoreUrls": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": true,
        "peerDependencies": true
      }
    ],
    "react/forbid-prop-types": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"]
      }
    ]
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "globals": {
    "document": false,
    "window": false,
    "fetch": false,
  }
}
